<h1>Items</h1>
<h2 class="mt-2 mb-2">Pinned</h2>
<.item_table items={@pinned_items} />
<h2 class="mt-2 mb-2">Incomplete</h2>
<.item_table items={@incomplete_items} />
<h2 class="mt-2 mb-2">Complete</h2>
<.item_table items={@complete_items} />
