@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

h1 {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.75rem;
}

a {
    text-decoration: underline;
}
