@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* ================================================ */
/* | Layout structure:                            | */
/* |                                              | */
/* | body > nav                                   | */
/* |      > div.content-flex > nav                | */
/* |                         > main > app content | */
/* ================================================ */

@layer base {
    html {
        overflow-y: scroll;
    }

    nav {
        @apply bg-purple-300;
        @apply border-purple-400;
        @apply border;
        @apply flex-col;
        @apply flex;
        @apply items-center;
    }

    nav > a {
        @apply p-2;
    }

    nav a {
	@apply text-sm;
    }

    nav > .history {
	@apply flex;
	@apply flex-col;
	@apply gap-2;
    }

    .history-header {
	@apply mt-4;
    }

    .history span {
	@apply text-xl;
    }

    .content-flex {
        @apply flex;
        @apply flex-col;
    }

    .content-flex > nav {
        @apply border-t-0;
        @apply items-center;
	@apply p-2;
    }

    .side-link-group {
	@apply w-full;
        @apply bg-purple-200;
        @apply flex-col;
        @apply flex;
        @apply p-4;
        @apply rounded;
    }

    .side-link-group {
	@apply gap-2;
    }

    main {
        @apply p-4;
    }

    @media screen(sm) {
        body > nav {
            @apply flex-row;
            @apply h-24; /* Must match calc in nav */
            @apply pl-4;

            min-width: 100vw;
        }

        .content-flex {
            @apply flex-row;
        }

        .content-flex > nav {
            @apply pt-4;
            @apply w-56; /* Must match calc main */
            @apply items-start;

            min-height: calc(100vh - theme('height.24'));
        }

        main {
            @apply pt-4;
            @apply pr-8;
            @apply pl-8;

            width: calc(100vw - theme('width.56'));
        }
    }

    h1, h2, h3, h4 {
        @apply font-bold;
    }

    h1 {
        @apply text-2xl;
    }

    h2 {
        @apply text-xl;
    }

    h3 {
        @apply text-lg;
    }

    a {
        @apply underline;
    }

    p {
        @apply pt-2;
        @apply pb-2;
    }

    ul {
        @apply list-disc;
    }

    ol {
        @apply list-decimal;
    }

    th {
        @apply font-bold;
        @apply p-4;
        @apply text-left;
    }

    td {
        @apply border-purple-500;
        @apply p-4;
    }

    hr {
        @apply border-black;
    }

    pre, textarea {
        @apply bg-white;
        @apply border-purple-400;
        @apply border;
        @apply p-3;
        @apply rounded;
    }

    code.inline {
        @apply border-purple-400;
        @apply border;
        @apply rounded;
        @apply bg-white;
        @apply text-sm;
        padding: 2px;
    }

    input[type="checkbox"] {
        @apply cursor-pointer;
    }

    input[readonly=""] {
        @apply bg-gray-300;
    }

    img {
        image-orientation: from-image;
    }

}

@layer components {
    /** Markdown **/
    .inline-links > * {
        @apply mr-2;
    }

    .markdown-content {
        @apply m-8;
    }

    .markdown-content hr {
        @apply mb-2;
        @apply mt-2;
    }

    .markdown-content h1, .markdown-content h2, .markdown-content h3 {
        @apply mb-2;
    }

    /** Compass **/
    .compass-wrapper {
	height: 320px;
	width: 320px;
	position: relative;
	margin: 30px;
    }

    .line-layer {
	@apply grid;
	@apply grid-cols-2;
	@apply grid-rows-2;
	height: 100%;
	position: absolute;
	width: 100%;
    }

    .line-layer > .nw {
	@apply border-purple-400;
	border-bottom-width: 0.5px;
	border-right-width: 0.5px;
    }

    .line-layer > .ne {
	@apply border-purple-400;
	border-bottom-width: 0.5px;
	border-left-width: 0.5px;
    }

    .line-layer > .sw {
	@apply border-purple-400;
	border-top-width: 0.5px;
	border-right-width: 0.5px;
    }

    .line-layer > .se {
	@apply border-purple-400;
	border-top-width: 0.5px;
	border-left-width: 0.5px;
    }

    .compass {
	@apply border-purple-400;
	@apply border;
	@apply font-mono;
	@apply text-xl;
	border-radius: 50%;
	height: 100%;
	z-index: 1;
    }

    .compass > .n {
	position: absolute;
	left: 155px;
	top: -25px;
    }

    .compass > .w {
	position: absolute;
	top: 147px;
	left: -15px;
    }

    .compass > .e {
	position: absolute;
	top: 147px;
	right: -15px;
    }

    .compass > .s {
	position: absolute;
	bottom: -25px;
	left: 155px;
    }

    .arrow {
	@apply bg-purple-400;
	height: 50%;
	left: 159px;
	position: absolute;
	top: 80px;
	width: 3px;
	z-index: 2;
    }

    .arrow > .icon {
	@apply text-purple-400;
	font-size: 35px;
	position: absolute;
	top: -23px; 
	left: -12px;
    }
}

/*
 * Rules that are always included in style sheet
 * Skips behavior defined here:
 * https://tailwindcss.com/docs/adding-custom-styles#removing-unused-custom-css
 */

.internal {
    @apply font-bold;
    @apply text-purple-700;
}
