<% update_completed_at_path = Routes.items_path(@conn, :update_completed_at, @item.id) %>
<%= if @item.completed_at do %>
  <%= link("Set Incomplete", to: update_completed_at_path, method: :delete) %>
<% else %>
  <%= link("Set Complete", to: update_completed_at_path, method: :post) %>
<% end %>
